# Python Tuples

![alt](http://www.scatter.com/images/DataLab_logo.jpg)

## Table of Contents

1. Creating Tuples
1. Accessing Tuples
1. Operations on Tuples
1. Why Tuples?

## Creating Tuples

Tuples are hetergeneous sequences of Python objects and are similar to lists, except that they cannot be changed/modified.

In [1]:
('a','b')

('a', 'b')

In [2]:
tuple([2,3,4])

(2, 3, 4)

In [3]:
list(tuple([2,3,4]))

[2, 3, 4]

In [4]:
type(('a','b'))

tuple

In [5]:
type((9, "abc", [True, "yellow"], (3.14, "blue")))

tuple

## Accessing Tuples

In [6]:
x = ('a', 'b', 'c', 'd', 'e', 'f','g')

In [7]:
x[1:6]

('b', 'c', 'd', 'e', 'f')

In [8]:
x[1:2]

('b',)

## Operations on Tuples

In [9]:
(3,4) + (1,2)

(3, 4, 1, 2)

In [10]:
3 * (3,4)

(3, 4, 3, 4, 3, 4)

In [11]:
2 in (1,2,3)

True

## Why Tuples?

Tuples are used:
1. As records in a dataset 
1. To enforce immutability 
1. To assign multiple values to multiple variables
1. To return mulitple values from a function

The second use makes for fewer errors and is easier to read and to debug.

The following command assigns multiple values to multiple variables (in one command).

In [12]:
(var1, var2, var3 )= ('a', 'b', 'c')

In [13]:
var3, var1

('c', 'a')

The function `myfun` returns two values in a single tuple.

In [14]:
def myfun():
  return ('a', 'b')

In [15]:
my_var = myfun()

In [16]:
my_var[0]

'a'

These two values can be stored in separate variables, similar to the example `(var1, var2, var3) = ('a', 'b', 'c')`.

In [17]:
(varA, varB) = myfun()
print(varA)
print(varB)

a
b

__The End__