# Python Classes

## Contents
1. Defining classes
1. Creating objects
1. Example: class `Temperature`

Check that we are running Python 3.

In [1]:
import sys
sys.version

'3.7.3 (default, Mar 27 2019, 16:54:48) \n[Clang 4.0.1 (tags/RELEASE_401/final)]'

## 1. Defining classes

Classes are templates for creating objects. These objects (also called instances) have _attributes_ and _methods_:
- Attributes are variables that are defined in the class
- Methods are functions that are defined in the class

See the `Objects` notebook for more on attributes and methods.

Every class/object has a special method (a "constructor") which is called when the object is created. When you define a class this method is named `__init__`. It is used to set the _initial_ values of the object's attributes and provides the parameters of the classes _constructor_.

The example below creates a simple class with:
- a constructor that takes a single argument `name`
- a single attribute, also called `name`, but referred to as `self.name`
- a method, called `greet_dog`, which returns a string and increments a counter

In [2]:
class Dog:
    def __init__(self, name='Fido'):
        self.name  = name  
        self.count = 0 
    def greet_dog(self, salutation='Hi'):
        self.count = self.count + 1
        return f'{salutation}, {self.name}'

## 2. Creating objects

The class name is used to create an object (of class `Dog`) and run the `__init__` function. 

The `name` parameter is set to `'Fido'` when the `Dog` object is created below. 
This object is stored in variable `f`.

Notice the value of the `name` attribute.

In [3]:
b = Dog('Rose')
b, b.name, b.count

(<__main__.Dog at 0x1115781d0>, 'Rose', 0)

In [4]:
a = Dog('Lily')
a, a.name, a.count

(<__main__.Dog at 0x1115786a0>, 'Lily', 0)

In [5]:
a.greet_dog("G'day")

"G'day, Lily"

In [6]:
a.greet_dog("Hello")

'Hello, Lily'

In [7]:
a.count

2

## 3. Example: class `Temperature`

The `Temperature` class has an `__init__` method that has two parameters. 
The second has a default value and so is optional. It is a considered "best practice" to supply default values for all parameters of the init method.

The `set_temp` method sets the `temp` attribute of the object and returns the object itself. 

The `get_temp` and `get_units` methods return values.

In [8]:
class Temperature:

    def __init__(self, temp, units='Celsius'):
        self.temp  = temp
        self.units = units
        
    def set_temp(self,temp):
        self.temp = temp
        return self
      
    def get_temp(self):
        return self.temp
      
    def get_units(self):
        return self.units

In [9]:
t1 = Temperature(36.0)
t1

In [10]:
t1.get_temp(), t1.get_units()

(36.0, 'Celsius')

Create another instance `t2` of the `Temperature` class.

In [11]:
t2 = Temperature(60)
t2.get_temp(), t2.get_units(), t2

(60, 'Celsius', <__main__.Temperature at 0x11159f5c0>)

Notice that the temperature is different in the different objects (`t1` and `t2`).

In [12]:
t1.temp, t2.temp

(36.0, 60)

Access the `units` attribute of the object `a` using dot notation.

In [13]:
t2.units

'Celsius'

The `set_temp` method sets the `temp` attribute of the object and returns the object itself.

In [14]:
t2.set_temp(40), t2.get_temp()

(<__main__.Temperature at 0x11159f5c0>, 40)

In [15]:
t2.set_temp(50).get_temp()

50

## 4. Exercises

__Exercise:__ Modify the `MultipleItems` class below to add:
- a method `get_cost` which returns the value of the `cost` attribute
- a method `set_number` with one parameter `number` which changes the `number` attribute and returns `self`
- a method `get_total_cost` which returns the product of the `cost` and `number` attributes

In [16]:
class MultipleItems:

    def __init__(self, name='default', cost=1.00, number=1):
        self.name   = name    # name of item
        self.number = number  # number of items
        self.cost   = cost    # cost per item
    
    def set_cost(self, cost):
        self.cost = cost
        return self
  
    def get_number(self):
        return self.number

__Exercise:__ Check your modifications to the above class by running these commands (in this order):
1. `x = MultipleItems(name='sandwich')`
1. `x.set_number(10)`
1. `x.set_cost(9.95)`
1. `x.name, x.get_cost(), x.get_number(), x.get_total_cost()`

__Exercise:__ Define a class called `Lunch`:

Its `__init__()` method should have two arguments: `self` and `menu`. The init method sets the attribute `menu` which is a string. 

Add a method called `menu_price`. It will involve an `if-elif-else` statement:

- if the attribute `menu` is "menu 1", print `Your choice: menu 1 Price 12.00`.
- if the attribute `menu` is "menu 2", print `Your choice: menu 2 Price 13.40`. 
- else print `"Error in menu"`.

To check if it works: define `Paul=Lunch("menu 1")` and call `Paul.menu_price()`.

In [17]:
class Lunch:
  
  def __init__(self, menu):
    self.menu = menu
  
  def menu_price(self):
    if self.menu == 'menu 1':
      print('Your choice: menu 1 Price 12.00')
    elif self.menu == 'menu 2':
      print('Your choice: menu 2 Price 13.40')
    else:
      print('Error in menu')
    return self

In [18]:
Paul = Lunch('menu 1')

In [19]:
Paul.menu_price()

Your choice: menu 1 Price 12.00

In [20]:
class Lunch(object):
    def __init__(self,menu):
      self.menu=str(menu)
      
    def menu_price(self):
       if self.menu=="menu 1":
          print ("Your choice:", self.menu, "Price 12.00")
      
       elif self.menu=="menu 2":
          print ("Your choice:", self.menu, "Price 13.40")
    
       else:
          print ("Error in menu")

Paul=Lunch("menu 1")
Paul.menu_price()

Your choice: menu 1 Price 12.00

Tutorials on classes:
- https://www.learnpython.org/en/Classes_and_Objects
- http://thepythonguru.com/python-object-and-classes/
- https://docs.python.org/3/tutorial/classes.html

__The End__