<a href="https://colab.research.google.com/github/data-space/datalab-notebooks/blob/master/Python/9.%20Temporary/Workshop_time_series_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Time Series Workshop - 2 Dec 2019

## Links
- https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#dateoffset-objects
- https://www.quandl.com/tools/python
- https://en.wikipedia.org/wiki/S&P_500_Index

## Setup

In [1]:
import pandas  as pd
import numpy   as np
import sklearn as sk

## Datasets

### Pico datasets - creating time series

- https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.date_range.html
- https://machinelearningmastery.com/how-to-generate-random-numbers-in-python/
- https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#dateoffset-objects

In [2]:
import random
random.random

In [3]:
import pandas as pd
pd.DataFrame(data={'col_a':range(30),
                   'col_b':10},
             index=pd.date_range(start  ='2019-11-01',
                                 freq   ='D',
                                 periods=30
                                 )
)

            col_a  col_b
2019-11-01      0     10
2019-11-02      1     10
2019-11-03      2     10
2019-11-04      3     10
2019-11-05      4     10
2019-11-06      5     10
2019-11-07      6     10
2019-11-08      7     10
2019-11-09      8     10
2019-11-10      9     10
2019-11-11     10     10
2019-11-12     11     10
2019-11-13     12     10
2019-11-14     13     10
2019-11-15     14     10
2019-11-16     15     10
2019-11-17     16     10
2019-11-18     17     10
2019-11-19     18     10
2019-11-20     19     10
2019-11-21     20     10
2019-11-22     21     10
2019-11-23     22     10
2019-11-24     23     10
2019-11-25     24     10
2019-11-26     25     10
2019-11-27     26     10
2019-11-28     27     10
2019-11-29     28     10
2019-11-30     29     10

### Quandl
- https://www.quandl.com/tools/python

In [ ]:
!pip install quandl | tail -n 1

- https://en.wikipedia.org/wiki/S&P_500_Index

In [4]:
import quandl
spcomp_pdf = quandl.get("YALE/SPCOMP", authtoken="Rsj4hm7tRTtBorpZxEoR")
spcomp_pdf.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1784 entries, 1871-01-31 to 2019-08-31
Data columns (total 9 columns):
S&P Composite                   1784 non-null float64
Dividend                        1782 non-null float64
Earnings                        1779 non-null float64
CPI                             1784 non-null float64
Long Interest Rate              1784 non-null float64
Real Price                      1784 non-null float64
Real Dividend                   1782 non-null float64
Real Earnings                   1779 non-null float64
Cyclically Adjusted PE Ratio    1664 non-null float64
dtypes: float64(9)
memory usage: 139.4 KB

In [5]:
spcomp_pdf['S&P Composite']

Year
1871-01-31       4.44
1871-02-28       4.50
1871-03-31       4.61
1871-04-30       4.74
1871-05-31       4.86
1871-06-30       4.82
1871-07-31       4.73
1871-08-31       4.79
1871-09-30       4.84
1871-10-31       4.59
1871-11-30       4.64
1871-12-31       4.74
1872-01-31       4.86
1872-02-29       4.88
1872-03-31       5.04
1872-04-30       5.18
1872-05-31       5.18
1872-06-30       5.13
1872-07-31       5.10
1872-08-31       5.04
1872-09-30       4.95
1872-10-31       4.97
1872-11-30       4.95
1872-12-31       5.07
1873-01-31       5.11
1873-02-28       5.15
1873-03-31       5.11
1873-04-30       5.04
1873-05-31       5.05
1873-06-30       4.98
               ...
2017-03-31    2366.82
2017-04-30    2359.31
2017-05-31    2395.35
2017-06-30    2433.99
2017-07-31    2454.10
2017-08-31    2456.22
2017-09-30    2492.84
2017-10-31    2557.00
2017-11-30    2593.61
2017-12-31    2664.34
2018-01-31    2789.80
2018-02-28    2705.16
2018-03-31    2702.77
2018-04-30    2653.63
2018-05-31    2701.49
2018-06-30    2754.35
2018-07-31    2793.64
2018-08-31    2857.82
2018-09-30    2901.50
2018-10-31    2785.46
2018-11-30    2723.23
2018-12-31    2567.31
2019-01-31    2607.39
2019-02-28    2754.86
2019-03-31    2803.98
2019-04-30    2903.80
2019-05-31    2854.71
2019-06-30    2890.17
2019-07-31    2996.11
2019-08-31    2883.98
Name: S&P Composite, Length: 1784, dtype: float64

# BELOW FROM PAST WORKSHOP
### Iris dataset

In [6]:
import pandas as pd
from sklearn.datasets import load_iris
iris_features = load_iris().data[:,1:]
iris_target   = load_iris().data[:,:1]

### Diamonds dataset

In [7]:
import pandas as pd
diamonds_pdf = pd.read_csv('https://raw.githubusercontent.com/datalab-datasets/file-samples/master/diamonds.csv').drop(columns='Unnamed: 0')
diamonds_features = diamonds_pdf.drop(labels='price',axis=1)[['x','y','z']]
diamonds_target = diamonds_pdf['price']
diamonds_features.head()

      x     y     z
0  3.95  3.98  2.43
1  3.89  3.84  2.31
2  4.05  4.07  2.31
3  4.20  4.23  2.63
4  4.34  4.35  2.75

### Boston housing dataset

In [8]:
def get_boston_housing_pdf(): # for boston housing dataset
    from sklearn.datasets import load_boston 
    feature_names = [name.lower() 
                   for name in load_boston().get('feature_names').tolist()
                  ]
    features_pdf = pd.DataFrame(data=load_boston().get('data'),
                              columns=feature_names
                             )
    target_pdf = pd.DataFrame(data={'price': load_boston().get('target')}
                           )
    return pd.concat([features_pdf, target_pdf],
                   axis='columns',
                   join='inner')

In [9]:
boston_housing_pdf = get_boston_housing_pdf().select_dtypes(include=['float','int'])

boston_housing_features = boston_housing_pdf.drop(labels='price',axis=1)
boston_housing_target = boston_housing_pdf['price']
boston_housing_features.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,b,lstat
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

Our first step is to create a train dataset and a test dataset from our dataset, which is `iris_features` and `iris_target`. Use the `train_test_split` function from the `sklearn` library to do so.

In [10]:
from sklearn.model_selection import train_test_split
iris_x_train, iris_x_test, iris_y_train, iris_y_test = train_test_split(iris_features,
                                                                        iris_target)

In [11]:
iris_x_train.shape, iris_x_test.shape, iris_y_train.shape, iris_y_test.shape

((112, 3), (38, 3), (112, 1), (38, 1))

Notice that the train dataset is `iris_x_train` and `iris_y_train`, which correspond to the features and the target. 

__Exercise__: create train and test datasets 
- for the `diamonds_features`, `diamonds_target` dataset called `diamonds_x_train`, `diamonds_x_test`, `diamonds_y_train`, `diamonds_y_test`
- for the `boston_housing_features`,`boston_housing_target` dataset called `boston_x_train`, `boston_x_test`, `boston_y_train`, `boston_y_test`

In [12]:
from sklearn.model_selection import train_test_split
diamonds_x_train, diamonds_x_test, diamonds_y_train, diamonds_y_test = train_test_split(diamonds_features,
                                                                        diamonds_target)

## Algorithms to models to prediction 

Linear regression is an algorithm. This algorithm (and many others) have parameters that determine how they work. The Scikit-learn version of the linear regression algorithm has parameters named `copy_X`, `fit_intercept`, `n_jobs`, `normalize`. The values indicated below are defaults.

In [13]:
from sklearn.linear_model import LinearRegression
iris_linreg_algorithm = LinearRegression()
iris_linreg_algorithm

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

__Exercise__: Create algorithm objects for diamonds and boston, named `diamonds_linreg_algorithm` and `boston_linreg_algorithm`.

Recall that algorithms take train datasets as input and produce models as output. We do this for the iris dataset below, using the `fit` method of the .

In [ ]:
iris_linreg_model = iris_linreg_algorithm.fit(X=iris_x_train,
                                              y=iris_y_train)
iris_linreg_model

__Exercise__: Create model objects for diamonds and boston, named `diamonds_linreg_model` and `boston_linreg_model`. Use the corresponding train dataset.

Recall that models take test datasets as input and produce predictions as output. We do this for the iris dataset below, using the `predict` method.

In [ ]:
iris_linreg_predictions = iris_linreg_model.predict(X=iris_x_test)
iris_linreg_predictions

__Exercise__: Create predictions for diamonds and for boston named `diamonds_linreg_predictions` and `boston_linreg_predictions`.

A set of prediction for a numeric target variable can be summarized with

In [ ]:
iris_linreg_model.score(X=iris_x_test,
                        y=iris_y_test)

__Exercise__: Create a score for the predictions for diamonds and for boston named `diamonds_linreg_score` and `boston_linreg_score`.

## Try other algorithms 
Below we try the decision tree and k-nearest neighbor algorithms on the same datasets.

### Decision tree
Below we swap in the decision tree algorithm at the beginning of the sequence. Notice though that the remaining steps are the same.

In [ ]:
from sklearn.tree import DecisionTreeRegressor
iris_decisiontree_algorithm = DecisionTreeRegressor()
iris_decisiontree_algorithm

In [ ]:
iris_decisiontree_model = iris_decisiontree_algorithm.fit(X=iris_x_train,
                                                          y=iris_y_train)
iris_decisiontree_model

In [ ]:
iris_decisiontree_score = iris_decisiontree_model.score(X=iris_x_test,
                                                        y=iris_y_test)
iris_decisiontree_score

In [ ]:
iris_decisiontree_predictions = iris_decisiontree_model.predict(X=iris_x_test)
iris_decisiontree_predictions

Below the steps are run in a single code cell.

In [ ]:
from sklearn.tree import DecisionTreeRegressor
iris_decisiontree_algorithm   = DecisionTreeRegressor()
iris_decisiontree_model       = iris_decisiontree_algorithm.fit(X=iris_x_train,
                                                                y=iris_y_train)
iris_decisiontree_score       = iris_decisiontree_model.score(X=iris_x_test,
                                                              y=iris_y_test)
iris_decisiontree_predictions = iris_decisiontree_model.predict(X=iris_x_test)

(iris_decisiontree_score, 
 iris_decisiontree_predictions
)

__Exercise__: copy-paste the above code cell and modify the copy to work with the diamonds dataset. They modify another copy to work with the boston dataset.

### K-nearest neighbors

See the documentation and modify the below code cell to work with the 

- https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsRegressor.html#sklearn.neighbors.KNeighborsRegressor

In [14]:
from sklearn.tree import DecisionTreeRegressor
iris_decisiontree_algorithm   = DecisionTreeRegressor()
iris_decisiontree_model       = iris_decisiontree_algorithm.fit(X=iris_x_train,
                                                                y=iris_y_train)
iris_decisiontree_score       = iris_decisiontree_model.score(X=iris_x_test,
                                                              y=iris_y_test)
iris_decisiontree_predictions = iris_decisiontree_model.predict(X=iris_x_test)

(iris_decisiontree_score, 
 iris_decisiontree_predictions
)

(0.8155280056359471,
 array([5.5 , 5.4 , 6.5 , 4.8 , 4.9 , 5.4 , 5.1 , 4.55, 6.4 , 6.1 , 5.4 ,
        6.7 , 7.6 , 6.1 , 6.  , 6.  , 5.5 , 5.7 , 5.4 , 6.7 , 5.6 , 6.5 ,
        7.6 , 6.5 , 5.1 , 5.6 , 6.9 , 5.7 , 5.  , 6.5 , 4.9 , 5.1 , 5.35,
        7.3 , 4.8 , 5.5 , 6.4 , 6.3 ]))