# `pandas` - Fix Columns

## Introduction

Load the libraries.

In [4]:
import pandas  as pd
import numpy   as np
(pd.__version__,
 np.__version__
)

In [5]:
read_college_scorecard().info()

## Manipulating Strings

We build on the decision from the previous section to drop from the `import_df` dataframe all rows with any missing values. 

The following code does this and verifies that there are in fact no missing values.

In [8]:
read_dataframe()\
  .dropna(axis=0)\
  .isnull()\
  .sum()\
  .sum() # Look Ma, no missing values!

__Working with Text Data__ (pandas)
- https://pandas.pydata.org/pandas-docs/stable/text.html

In [10]:
read_dataframe()\
  .select_dtypes(include=['object'])\
  .head()

Check for the unique values in these columns.

In [12]:
read_dataframe()\
  .loc[:,'make']\
  .unique()

In [13]:
read_dataframe()\
  .loc[:,'make']\
  .unique()

In [14]:
import_df = read_dataframe()
import_df\
  .assign(drive_wheels_alt = lambda df: df.drive_wheels.str.replace('rwd','rear')\
                                                       .str.replace('fwd','front')\
                                                       .str.replace('4wd','all')
         )\
  .loc[:,['drive_wheels_alt','drive_wheels']]\
  .head()

In [15]:
import_df.body_style.str.match('convertible')

In [16]:
import_df = read_dataframe()
import_df\
  .assign(is_convertible = lambda df: df.body_style.str.match('convertible').astype('int64'))\
  .loc[:,['is_convertible','body_style']]\
  .head()

In [17]:
import_df = read_dataframe()
import_df\
  .assign(engine_size_l3 = import_df.engine_size*2.54**3/10**3)\
  .rename(columns={'engine_size':'engine_size_i3'})\
  .loc[:,['engine_size_i3','engine_size_l3']]\
  .head()

In [18]:
read_dataframe().info()

## Manipulating `datetimes`

__The End__

In [21]:
%sh ls -oh /dbfs/mnt/datalab-datasets/college-scorecard/
def read_college_scorecard(file_path='/dbfs/mnt/datalab-datasets/college-scorecard/MERGED2013_PP.csv',
                           n_rows=None):
  return pd.read_csv(file_path,nrows=n_rows)
read_college_scorecard(n_rows=5)